/* styles.css */
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 24px;
}

.centered-text {
    text-align: center;
    align-items: center;
/*     margin: auto; */
}

.error-msg {
    margin: 0;
    position: relative;
    width: 70vw;
    height: 10vh;
    padding: 0.5em;
    background-color: #ffa500; /* orange */
    color: white;
    top: 1em;
}

