/* styles.css */
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.centered-text {
    text-align: center;
    font-size: 24px;
}

.error-msg {
    margin: auto;
    position: relative;
    width: 70vw;
    height: 10vh;
/*     padding: 0.5em; */
    background-color: #ffa500; /* orange */
    color: white;
    top: 1em;
}

.error-msg-innertext {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
