/* styles.css */
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.centered-text {
    text-align: center;
    font-size: 24px;
}

.error-msg {
  padding: 20px;
  background-color: #ffa500; /* orange */
  color: white;
  margin-bottom: 15px;
}
