/* styles.css */
body {
    height: 100%;
    background-color: black;
    background-image: linear-gradient(to bottom right, rgba(229, 36, 38, 0), rgba(255, 277, 0, 0.5) 25%, rgba(249, 203, 180, 1) 65%, rgba(229, 36, 38, 0) 100%);
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 0.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.4em;
    color: black;
    text-shadow: 4px 4px 15px #e2e5b3;
}

p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding: 0.25em;
    text-shadow: 4px 4px 12px #777777;
}

.title{
    margin-bottom: 0.9em;
}

.playerclass {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 80%;
    padding-right: 1em;
    padding-left: 1em;
    justify-content: center;
}

.rbutton {
    padding: 0.8em;
    padding-inline: 1.6em;
    margin-bottom: 0.9em;
    border-radius: 30px;
    border: 0 solid;
    box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #ff0000;
    outline: 1.2px solid;
    color: #f6f6f6;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-align: center;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 
  
.rbutton:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    background-color: #ff8282;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 18px;
    text-shadow: 1px 1px 2px #427388; 
    color: #989898;
    cursor: pointer;
}

.sbutton {
    padding: 1em;
    padding-inline: 2.5em;
    margin: 4em;
    border-radius: 1em;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #23b696;
    color: #f6f6f6;
    font-weight: bold;
    transition: all 0.4s;
    cursor: pointer;
}

.sbutton:hover,
.sbutton:focus {
    box-shadow: inset 10em 0 0 0 #3bf2ca;
    color: #808080;
}

audio {
    width: 100%;
}

.rClip {
    width: 75%;
}

.error-msg {
    padding: 6px;
    width: 70%;
    background-color: #ff9100;
    color: white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin-inline: auto;
    margin-top: 1.2em;
    box-shadow: 5px 0px 20px #f1b570;
    opacity: 1;
    transition: opacity 0.6s;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closebtn {
    margin-right: 0.6em;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.closebtn:hover {
    color: rgb(170, 170, 170);
    transform: rotate(-90deg);
}

.visualizer {
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 9px solid;
    color: #cfcfcf;
    width: 90%;
    height: 7vh;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}

.audioinfo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
}

.audioname-container {
    padding: 10px;
}

.audio-player-container {
    /* margin-top: 5px; */
    margin: auto;
    width: 90%;
    /* height: 6em; */
    background: rgba(255, 255, 255, 0.8);
    padding: 1%;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(255, 239, 92, 0.35)
}

.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player i {
    font-size: 50px;
    padding: 10px;
    color: rgba(57, 57, 57, 0.7);
}

.audio-player i:hover {
    color: rgba(128, 128, 128, 0.7);
    cursor: pointer;
}

.audio-player i:active {
    color: rgba(105, 105, 105, 0.7);
}

.audio-duration {
    text-align: end;
    color: rgb(30, 30, 30);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 1px 2px 2px 0px;
}

#waveform-container {
    width: 100%;
}